[submodule "bolt"]
	path = bolt
	url = https://github.com/stephband/bolt.git
[submodule "sparky"]
	path = sparky
	url = https://github.com/cruncher/sparky.git
[submodule "toolbox"]
	path = toolbox
	url = https://github.com/GoogleChrome/sw-toolbox.git
